:root {
  --primcolor: rgb(54, 54, 54);
  --seccolor: rgb(28, 1, 47);
  --lightcolor: rgb(254, 252, 215);
}
html {
  font-size: 62.5%;
}

body {
  background-color: var(--primcolor);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--lightcolor);
}

header {
  width: 90%;
  background-color: var(--seccolor);
  margin: auto;
  text-align: center;
  border-radius: 2rem;
}

.card {
  background-color: var(--seccolor);
  border-style: dashed;
  border-radius: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2.5rem;
}

.card h3 {
  margin: auto;
  width: 60%;
  background-image: linear-gradient(
    rgb(254, 252, 215, 1) 0%,
    rgb(254, 252, 215, 0.6) 100%
  );
  color: var(--seccolor);
  border-style: solid;
  font-size: 3rem;
  position: relative;
  margin-top: -4rem;
}

@media screen and (min-width: 568px) {
  main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}
